.tabBar {
  background-color: yellow !important;
}

.nav-tabs {
  background-color: red;
  color: red;
  border-color: red;
}

.nav-item {
  background-color: green;
  color: green;
  border-color: green;
}

.nav-link {
  background-color: blue;
  color: blue;
  border-color: blue;
}
