
.layoutContainer {
  margin-top: 57px;
  margin-bottom: 41px;
}

.navigation {
  border-bottom: 1px solid #cecece;
}

/* .content {
  background-color: lightgreen;
} */

.heading {
  color: red;
}

.footer {
  background-color: #fafafa;
  border-top: 1px solid #cecece;
  position: fixed;
  bottom: 0;
  width: 100%;
}