.layoutContainer {
  margin-top: 57px;
  margin-bottom: 41px;
}

.navigation {
  border-bottom: 1px solid #cecece;
}

.heading {
  color: red;
}

.footer {
  background-color: #fafafa;
  border-top: 1px solid #cecece;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0px;
}

.authorTag {
  margin: 0;
  font-size: 12px;
  color: #cecece;
  text-align: center;
}

.authorTag a {
  color: #cecece;
}
